body {
	font-size: 16px;
	font-family: cambria;
}

td {
	text-align: center;
	border-style: solid;
	color: black;
}
#tableheader {
	text-decoration: underline;
	font-weight: bold;
}

#cover {
	margin-top: -20px;
	background: url(pictures/verydark.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
	background-color: maroon;
	margin-top: -20px;
	padding-bottom: 10px;
}

.project {
	border-style: solid;
	margin-left: 70px;
}

.thoughts, .work, #about {
	background-color: teal;
	margin-top: -21px;
	padding-bottom: 20px;	
}

#about > p, .work > p, .thoughts > p {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0% 2% 0% 2%;
}

img {
	margin-top: 20px;
}

h1 {
	padding-top: 10px;
}

h1, h2 {
	text-align: center;
	color: black;
	font-weight: bold;
}

a {
	color: black;
	text-decoration:none;
}
a:hover {
	color: blue;
	font-style: italic;
	text-decoration:none;
}
ul {
	list-style-type: none;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0px;
	height: auto;
	width: 100%;
	background-color: black;
	float: right;
}

.footer-text {
	color: white;
	float: left;
	margin: 55px 2% 4% 3%
}

.footer-icons {
	width: 80%;
	margin: 30px
}

.footer-icons img {
	margin-left: 2%;
}

/** small devices (tablets, >= 768px) */
@media (min-width: 768px) {
  .figdesc {
      margin-left: 20px;
  }
  #about #photo-wrapper figure {
    margin-left: 30px;
  }
  #photo-wrapper figure {
    margin-left: 30px;
  }
  #photo-wrapper .row {
    margin-right: 30px;
  }
  #photo-wrapper img {
    height: 230px;
    width: 230px; 
  }
  #adventures .figdesc {
    clear:both;
  }
}

/** medium devices (desktops, >= 992px) */
@media (min-width: 992px) {
}

/** large devices (large desktops, >= 1200px) */
@media (min-width: 1200px) {
  #adventures .row {
    width: 60%;
    margin-left: 18%;
  }
}