body {
	font-size: 16px;
	font-family: cambria;
}

hr {
	color: white;
}

h1 {
	padding-top: 10px;
	text-align: center;
	color: #efefef;
	font-weight: bold;
}

a{
	color: blue;
	font-weight: 900;
	text-decoration:none;
}
a:hover {
	color: blue;
	font-style: italic;
	text-decoration:none;
}

/* Portfolio Section */
td {
	color: black;
	text-align: center;
	border-style: solid;
}

ul {
	list-style-type: none;
}

#tableheader {]
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.project {
	border-style: solid;
	margin-left: 70px;
}

/* Home Section */
#cover {
	margin-top: -20px;
	background: url(pictures/verydark.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Headers for each page */
#about, #workheader, #thoughtsheader{
	background-color: teal;
	margin-top: -20px;
	padding-bottom: 20px;
}

#workheader h1, #thoughtsheader h1 {
	color: #efefef;
}

/* Content for each page */
#posts, #work{
	color: black;
	background: url(pictures/maroon.png);
	margin-top: -20px;
	padding-bottom: 20px;	
}

#about p, #posts p, #work p, #workheader p{
	color: #efefef;
	text-align: center;
	width: 100%;
	height: auto;
	padding: 0% 2% 0% 2%;
}

/* Footer area for Social Media Connections */
.footer {
	position: relative;
	left: 0;
	bottom: 0px;
	height: auto;
	width: 100%;
	background-color: black;
	float: right;
}

.footer-text {
	color: white;
	float: left;
	margin: 35px 2% 4% 3%
}

.footer-icons {
	width: 80%;
	margin: 30px
}

.footer-icons img {
	margin-left: 2%;
}

/** small devices (tablets, >= 768px) */
@media (min-width: 768px) {
  .figdesc {
      margin-left: 20px;
  }
  #about #photo-wrapper figure {
    margin-left: 30px;
  }
  #photo-wrapper figure {
    margin-left: 30px;
  }
  #photo-wrapper .row {
    margin-right: 30px;
  }
  #photo-wrapper img {
    height: 230px;
    width: 230px; 
  }
  #adventures .figdesc {
    clear:both;
  }
}

/** medium devices (desktops, >= 992px) */
@media (min-width: 992px) {
}

/** large devices (large desktops, >= 1200px) */
@media (min-width: 1200px) {
  #adventures .row {
    width: 60%;
    margin-left: 18%;
  }
}